WCF-DolazakNaPosao/Korisnik/Connected Services/PrijavaServiceReference/Prijava.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Prijava" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52317/Prijava.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52317/Prijava.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52317/Prijava.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrijava_PrijaviSe_InputMessage">
    <wsdl:part name="parameters" element="tns:PrijaviSe" />
  </wsdl:message>
  <wsdl:message name="IPrijava_PrijaviSe_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrijaviSeResponse" />
  </wsdl:message>
  <wsdl:message name="IPrijava_OdjaviSe_InputMessage">
    <wsdl:part name="parameters" element="tns:OdjaviSe" />
  </wsdl:message>
  <wsdl:message name="IPrijava_OdjaviSe_OutputMessage">
    <wsdl:part name="parameters" element="tns:OdjaviSeResponse" />
  </wsdl:message>
  <wsdl:message name="IPrijava_VratiProvedenoVreme_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiProvedenoVreme" />
  </wsdl:message>
  <wsdl:message name="IPrijava_VratiProvedenoVreme_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiProvedenoVremeResponse" />
  </wsdl:message>
  <wsdl:message name="IPrijava_VratiSve_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiSve" />
  </wsdl:message>
  <wsdl:message name="IPrijava_VratiSve_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiSveResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrijava">
    <wsdl:operation name="PrijaviSe">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrijava/PrijaviSe" message="tns:IPrijava_PrijaviSe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrijava/PrijaviSeResponse" message="tns:IPrijava_PrijaviSe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OdjaviSe">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrijava/OdjaviSe" message="tns:IPrijava_OdjaviSe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrijava/OdjaviSeResponse" message="tns:IPrijava_OdjaviSe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiProvedenoVreme">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrijava/VratiProvedenoVreme" message="tns:IPrijava_VratiProvedenoVreme_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrijava/VratiProvedenoVremeResponse" message="tns:IPrijava_VratiProvedenoVreme_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiSve">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrijava/VratiSve" message="tns:IPrijava_VratiSve_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrijava/VratiSveResponse" message="tns:IPrijava_VratiSve_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrijava" type="tns:IPrijava">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PrijaviSe">
      <soap:operation soapAction="http://tempuri.org/IPrijava/PrijaviSe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OdjaviSe">
      <soap:operation soapAction="http://tempuri.org/IPrijava/OdjaviSe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiProvedenoVreme">
      <soap:operation soapAction="http://tempuri.org/IPrijava/VratiProvedenoVreme" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiSve">
      <soap:operation soapAction="http://tempuri.org/IPrijava/VratiSve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Prijava">
    <wsdl:port name="BasicHttpBinding_IPrijava" binding="tns:BasicHttpBinding_IPrijava">
      <soap:address location="http://localhost:52317/Prijava.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>