WCF-LotoCB/Klijent/Connected Services/LotoServiceReference/Loto1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65438/Loto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_LotoCB" />
  <xs:element name="DodajKombinaciju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nadimak" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_LotoCB" minOccurs="0" name="kombinacija" nillable="true" type="q1:Kombinacija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DodajKombinacijuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DodajKombinacijuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiKombinaciju">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nadimak" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObrisiKombinacijuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ZapocniIzvlacenje">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NoviBroj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="broj" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObavestiPobednika">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nadminak" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brojIzvucenihBrojeva" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>